:root {
  font-family: "IBM Plex Sans", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1E1E1E;
  background-color: #E0DED1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --icon-color: #505050;
  --surface: #F0EFEE;
  --surface-stroke: #BDBBB2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1em;
}

.material-symbols-outlined {
  color: var(--icon-color);
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.section {
  background-color: var(--surface);
  padding: 16px;
  margin-bottom: 32px;
  border: 2px solid var(--surface-stroke);
  box-shadow: 2px 2px 0 0 rgb(0, 0, 0, 0.2);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  padding: 12px 12px 12px 16px;
}
.list-item:hover {
  background-color: #E7E6E3;
}

.list-item .drag-handle {
  opacity: 0;
}
.list-item:hover .drag-handle {
  opacity: 1;
}

.checkbox-group {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border: 1px solid var(--icon-color);
}

.checkbox-group input:checked ~ .checkmark {
  background-color: #2C83E6;
  border: 1px solid transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-group input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-group .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}